@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
	.promos {
		.img-holder {
			img {
				width: 100%;
			}
		}
	}
}

@media (max-width: 480px) {
	.rooms,
	.gallery {
		.col-xs-6 {
			width: 100%;
		}

		.img-holder {
			img {
				width: 100%;
			}
		}
	}
}